<header class="header">
  <div class="header__container">
    <nav class="header__nav">
      <div class="header__nav__right">
        <div class="logo">
          <img src="..//images/icon/Лого 2.svg" alt="логотип ель" />
        </div>
        <span class="item__menu">О Компании</span>
        <span class="item__menu">Доставка и Оплата</span>
        <span class="item__menu">Контакты</span>
      </div>
      <div class="header__nav__left">
        <div class="logo__small">
          <img src="../images/icon/clock.svg" alt="телефон" />
        </div>
        <span class="clock">Пн-Вс 9:00 - 19:00</span>
        <div class="logo__small">
          <img src="..//images/icon/phone.svg" alt="" />
        </div>
        <span class="clock">+7 800 888 88 88</span>
      </div>
    </nav>
    <section class="title">
    <article class="title__header">
      
        <h1 class="title__item__one">наша компания занимается</h1>
        <h2 class="title__item__two">лесозаготовкой</h2>
        <p class="title__item__three" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh <br> euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <button id="myBtn"">ОСТАВИТЬ ЗАЯВКУ</button>
    
    </article>
    <div id="myModal" class="modal">

 
      <div class="modal-content">
        <div class="modal-header">
          <span class="close"></span>
        </div>
        <div class="modal-body">
         <div class="modal-bundle">
          <h3>ЗАПОЛНИТЕ ФОРМУ</h3>
           <p>И в ближайшее время сотрудник нашей <br>компании свяжется с Вами</p>
           <form class="form" >
            <input class="form__input input_name" type="text" placeholder="Имя" required>
            <input class="form__input input_phone" type="number" placeholder="Телефон" required>
            <input class="form__input input_email" type="email" placeholder="Email" required>
            <button >ОТПРАВИТЬ</button>
            <label class="checkbox__group">
              <input type="checkbox" class="checkbox" required>
              <span class="checkbox__text">Отправляя эту форму, вы даете свое согласие на обработку персональных данных в соответствии с нашей Политикой конфиденциальности</span>
            </label>
           </form>
         </div>
        </div>
        <div class="modal-footer">
          <h3>Футер модального окна</h3>
        </div>
      </div>
    
    </div>
  </section>
  </div>
</header>
