@font-face {
  font-family: "bold";
  src: url("../../fonts/gteestiprodisplay_bold.otf");
}
@font-face {
  font-family: "light";
  src: url("../../fonts/gteestiprodisplay_light.otf");
}
@font-face {
  font-family: "medium";
  src: url("../../fonts/gteestiprodisplay_medium.otf");
}
@font-face {
  font-family: "regular";
  src: url("../../fonts/gteestiprodisplay_regular.otf");
}
@font-face {
  font-family: "thin";
  src: url("../../fonts/gteestiprodisplay_thin.otf");
}
@font-face {
  font-family: "ultrabold";
  src: url("../../fonts/gteestiprodisplay_ultrabold.otf");
}
